{% if site.data.settings.egitim.enable == true %}
<!-- begin egitimler -->
<div class="container">
  <section class="section works animate">
    <div class="row">

      <!-- Başlık ve açıklama -->
      <div class="col col-12">
        <div class="section__info">
          <h2 class="section__title">{{ site.data.settings.egitim.egitim__title }}</h2>
          {% if site.data.settings.egitim.egitim__description %}
          <p class="section__description">{{ site.data.settings.egitim.egitim__description }}</p>
          {% endif %}
        </div>
      </div>

      <!-- Eğitim listesi -->
      <div class="col col-12">
        <div class="row">
          {% assign sorted = site.egitim | sort: 'date' | reverse %}
          {% for egitim in sorted %}
          <article class="work col col-6 col-d-12">
            <div class="work__content">
              <div class="work__info">
                {% if egitim.kurum %}
                <div class="work__category">{{ egitim.kurum }}</div>
                {% endif %}
                <h3 class="work__title">
                  <a href="{{ egitim.url | relative_url }}">{{ egitim.title }}</a>
                </h3>
                {% if egitim.description %}
                <p class="work__description">{{ egitim.description }}</p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
</div>
<!-- end egitimler -->
{% endif %}
