{% if site.data.settings.egitim.enable == true %}
<div class="container">
  <section class="section section-education animate">
    <div class="row">

      <div class="col col-12">
        <div class="section__info">
          <h2 class="section__title">{{ site.data.settings.egitim.egitim__title }}</h2>
          {% if site.data.settings.egitim.egitim__description %}
          <p class="section__description">{{ site.data.settings.egitim.egitim__description }}</p>
          {% endif %}
		  <a href="{{ '/hakkimda' | relative_url }}" class="section__link">Tüm Eğitimlerimi İncele<i class="ion ion-md-arrow-forward"></i></a>
        </div>
      </div>

      <div class="col col-12">
        <div class="edu-accordion">
          {% assign sorted = site.egitim | sort: 'date' | reverse %}
          {% for egitim in sorted %}
          <details class="edu-item">
            <summary class="edu-header">
              <div class="edu-header__content">
                <h3 class="edu-title">{{ egitim.title }}</h3>
                {% if egitim.kurum %}
                <div class="edu-meta">{{ egitim.kurum }} • {{ egitim.sure }}</div>
                {% endif %}
              </div>
              <div class="edu-icon"></div>
            </summary>
            
            <div class="edu-content">
              {% if egitim.description %}
              <p class="egitim__description">{{ egitim.description }}</p>
              {% endif %}
            </div>
          </details>
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
</div>
{% endif %}